<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Admin Sign Language Dictionary</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />

    <link rel="icon" href="/assets/img/kaiadmin/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["/assets/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="/assets/css/kaiadmin.min.css" />

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">
            <!-- Sidebar Logo Header -->
            <%- include('../components/sideBar_logo') %>
                <!-- Sidebar Logo Header -->

                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            <!-- Dashboard -->
                            <li class="nav-item active">
                                <a data-bs-toggle="collapse" href="index" class="collapsed" aria-expanded="false">
                                    <i class="fas fa-home"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>

                            <!-- Component -->
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Components</h4>
                            </li>

                            <!-- Manage User -->
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#manageUser">
                                    <i class="fas fa-users"></i>
                                    <p>Manage User</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="manageUser">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="list-user">
                                                <span class="sub-item">List of User</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <!-- Manage Words -->
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#manageWord">
                                    <i class="icon-book-open"></i>
                                    <p>Manage Word</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="manageWord">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="list-vocabulary">
                                                <span class="sub-item">List of Word</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <!-- Manage Topic -->
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#manageTopic">
                                    <i class="fas fa-clipboard-list"></i>
                                    <p>Manage Topic</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="manageTopic">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="list-topic">
                                                <span class="sub-item">List of Topics</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <!-- Upload model -->
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#uploadModel">
                                    <i class="fas fa-clipboard-list"></i>
                                    <p>Upload model</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse " id="uploadModel">
                                    <ul class="nav nav-collapse">
                                        <li class="">
                                            <a href="/upload-model">
                                                <span class="sub-item">UploadModel</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <!--  HEADER  -->
            <%- include('../components/navBar_mainHeader') %>
                <!-- END HEADER -->

                <!--  CONTAIN  -->
                <div class="container">
                    <div class="page-inner">
                        <!-- Admin Information -->
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-md-7">
                                <div class="card card-post card-round">
                                    <img class="card-img-top" src="/assets/img/blogpost.jpg" alt="Card image cap" />
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="avatar">
                                                <img src="/assets/img/profile2.jpg" alt="..."
                                                    class="avatar-img rounded-circle" />
                                            </div>
                                            <div class="info-post ms-2">
                                                <p class="username">
                                                    <%= admin.admin_name %>
                                                </p>
                                                <p class="date text-muted">
                                                    <%= admin.admin_name %>
                                                        @example.com
                                                </p>
                                            </div>
                                        </div>
                                        <div class="separator-solid"></div>
                                        <a href="#" class="btn btn-primary btn-rounded btn-sm">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>

                    </div>
                </div>
                <!-- END CONTAIN -->
        </div>

    </div>
    <!--   Core JS Files   -->
    <script src="/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Datatables -->
    <script src="/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>


    <!-- Sweet Alert -->
    <script src="/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="/assets/js/kaiadmin.min.js"></script>


    <!-- FUNCTION TO LOGOUT -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/admin/logOut.js"></script>
</body>

</html>