<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js " lang="en">
<!--<![endif]-->

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Meta -->
    <title>Sign Language dictionary</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/frontend/user/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/frontend/user/images/apple-touch-icon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">

    <!-- Custom & Default Styles -->
    <link rel="stylesheet" href="/frontend/user/css/bootstrap.min.css">
    <link rel="stylesheet" href="/frontend/user/css/font-awesome.min.css">
    <link rel="stylesheet" href="/frontend/user/css/carousel.css">
    <link rel="stylesheet" href="/frontend/user/css/animate.css">
    <link rel="stylesheet" href="/frontend/user/style.css">

    <!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

    <!-- CSS cho chủ đề -->
    <style>
        .caro-item {
            width: 100%;
            max-width: 300px;
            /* Đặt chiều rộng tối đa cho các mục */
            height: 450px;
            /* Chiều cao cố định */
            overflow: hidden;
            /* Đảm bảo nội dung không vượt ra ngoài khung */
            margin: 0 auto;
            /* Căn giữa các mục */
        }

        .course-box {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .image-wrap {
            height: 60%;
            /* Chiều cao phần hình ảnh */
            overflow: hidden;
        }

        .image-wrap img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Đảm bảo hình ảnh lấp đầy khung */
        }

        .course-details {
            padding: 10px;
            height: 30%;
            /* Chiều cao phần chi tiết */
            overflow: hidden;
            text-overflow: ellipsis;
            /* Đảm bảo văn bản không vượt quá khung */
        }

        .course-footer {
            padding: 10px;
            height: 10%;
            /* Chiều cao phần footer */
        }
    </style>

</head>

<body>

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="/frontend/user/images/loader.gif" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">
        <%- include('../components/frontend/user_Header') %>

            <section class="section db p120">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tagline-message page-title text-center" style="margin-top: 50px;">
                                <h3>Tin tức</h3>
                                <ul class="breadcrumb">
                                    <li><a href="javascript:void(0)">Trang chủ</a></li>
                                    <li class="active">Blog</li>
                                </ul>
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </section><!-- end section -->

            <!-- Hiển thị tin tức -->
            <section class="section gb nopadtop">
                <div class="container">
                    <div class="boxed">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content blog-list">
                                    <div class="blog-wrapper clearfix">
                                        <div class="blog-meta">
                                            <small><a href="#">Thế giới</a></small>
                                            <h3><a href="#" title="">Bé một tuổi giao tiếp ký hiệu với
                                                    người cha bị điếc</a></h3>
                                            <ul class="list-inline">
                                                <li>4 ngày trước</li>
                                                <li><span>Tác giả </span> <a href="#">Huyền Lê (Theo Independent)</a>
                                                </li>
                                            </ul>
                                        </div><!-- end blog-meta -->

                                        <div class="blog-media">
                                            <a href="#" title=""><img style="height: 500px; object-fit: cover;"
                                                    src="/frontend/user/new1.jpg" alt=""
                                                    class="img-responsive img-rounded"></a>
                                        </div><!-- end media -->

                                        <div class="blog-desc-big">
                                            <p class="lead">Madison dùng ngôn ngữ ký hiệu với cha trong video được chia
                                                sẻ ngày 11/11</p>
                                            <p>"Tôi bị điếc, còn con gái tôi nghe được. Đây là lần đầu tiên bé tìm cách
                                                thông dịch cho tôi", Zachary viết dòng mô tả video. "Bé đánh rơi đồ, ra
                                                hiệu có tiếng trẻ con khóc và chỉ cho tôi. Khoảnh khắc này thật ngạc
                                                nhiên".</p>
                                            <a href="blog-single.html" class="btn btn-primary">Đoc thêm</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="content blog-list">
                                    <div class="blog-wrapper clearfix">
                                        <div class="blog-meta">
                                            <small><a href="#">
                                                    Giáo dục > Tin tức</a></small>
                                            <h3><a href="#" title="">Cô gái khiếm thính trở thành tiến
                                                    sĩ ngôn ngữ</a></h3>
                                            <ul class="list-inline">
                                                <li>2 ngày trước</li>
                                                <li><span>Tác giả </span> <a href="#">Bình Minh (Theo China Daily)</a>
                                                </li>
                                            </ul>
                                        </div><!-- end blog-meta -->

                                        <div class="blog-media">
                                            <a href="#" title=""><img style="height: 500px; object-fit: cover;"
                                                    src="/frontend/user/new2.jpg" alt=""
                                                    class="img-responsive img-rounded"></a>
                                        </div><!-- end media -->

                                        <div class="blog-desc-big">
                                            <p class="lead">Zheng Xuan đang giảng bài cho những sinh viên khiếm thính
                                                tại Đại học Sư phạm Trùng Khánh năm 2019.</p>
                                            <p>Mê ngôn ngữ ký hiệu, Zheng đã biến nó thành chủ đề luận văn thạc sĩ ngôn
                                                ngữ học. Bài luận được Đại học Vũ Hán đánh giá "luận văn tốt nghiệp xuất
                                                sắc", tạo tiền đề cho cô trở thành ứng viên tiến sĩ khiếm thính đầu tiên
                                                của Trung Quốc và bắt đầu học ngành Ngôn ngữ Ký hiệu tiếng Trung (CSL)
                                                tại Đại học Phục Đán ở Thượng Hải..</p>
                                            <a href="#" class="btn btn-primary">Đoc thêm</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="content blog-list">
                                    <div class="blog-wrapper clearfix">
                                        <div class="blog-meta">
                                            <small><a href="#">
                                                    Khoa học > Thế giới tự nhiên</a></small>
                                            <h3><a href="/user/news-details" title="">Khỉ đột dùng ký hiệu giao tiếp với
                                                    người xem tại sở thú Mỹ</a></h3>
                                            <ul class="list-inline">
                                                <li>12 ngày trước</li>
                                                <li><span>Tác giả </span> <a href="#">Theo Junkin Media</a>
                                                </li>
                                            </ul>
                                        </div><!-- end blog-meta -->

                                        <div class="blog-media">
                                            <a href="#" title=""><img style="height: 500px; object-fit: cover;"
                                                    src="/frontend/user/new3.jpg" alt=""
                                                    class="img-responsive img-rounded"></a>
                                        </div><!-- end media -->

                                        <div class="blog-desc-big">
                                            <p class="lead">Con khỉ đột ở vườn bách thú Miami cố gắng sử dụng ngôn ngữ
                                                ký hiệu để diễn tả nó không được phép ăn đồ ăn của khách tham quan..</p>

                                            <a href="#" class="btn btn-primary">Đoc thêm</a>
                                        </div>
                                    </div>
                                </div>




                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="pagination">
                                            <li class="disabled"><a href="javascript:void(0)">&laquo;</a></li>
                                            <li class="active"><a href="javascript:void(0)">1</a></li>
                                            <li><a href="javascript:void(0)">2</a></li>
                                            <li><a href="javascript:void(0)">3</a></li>
                                            <li><a href="javascript:void(0)">...</a></li>
                                            <li><a href="javascript:void(0)">&raquo;</a></li>
                                        </ul>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end boxed -->
                </div><!-- end container -->
            </section>





            <!-- FOOTER -->
            <%- include('../components/frontend/user_Footer') %>
    </div><!-- end wrapper -->

    <!-- jQuery Files -->
    <script src="/frontend/user/js/jquery.min.js"></script>
    <script src="/frontend/user/js/bootstrap.min.js"></script>
    <script src="/frontend/user/js/carousel.js"></script>
    <script src="/frontend/user/js/animate.js"></script>
    <script src="/frontend/user/js/custom.js"></script>
    <!-- VIDEO BG PLUGINS -->
    <script src="/frontend/user/js/videobg.js"></script>

</body>

</html>