<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locked Status User</title>
</head>
<body>
    <h1>Locked Status User</h1>

    <p>Your account has been locked so you cannot access features.</p>
</body>
</html>
