<div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
        <a href="/admin/index" class="logo">
            <img style="height: 32px; margin-right: 10px;" src="/assets/img/kaiadmin/Logo.png" alt="navbar brand"
                class="navbar-brand" height="20" />
            <h4 style="color: white; font-size:100%; margin-bottom:0; font-weight:800;">Sign Language</h4>
        </a>

        <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
            </button>
            <!-- ICON KHI SLIDE DOWN -->
            <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
            </button>
        </div>

        <!-- ICON SLIDE DOWN -->
        <button class="topbar-toggler more">
            <i class="gg-more-vertical-alt"></i>
        </button>
    </div>
    <!-- End Logo Header -->
</div>